{% load cms_tags menu_tags sekizai_tags %}{% load static %}{% load compress %}<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% render_block "css" %}
        <link rel="stylesheet" href="{% static 'fonts/brandon/stylesheet.css' %}" type="text/css" charset="utf-8" /> 
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" type="text/css" charset="utf-8" /> 
        <script src="{% static 'static_jquery/js/jquery.min.js' %}" ></script>
        {% block app_css %}{% endblock app_css %}
        <script src="{% static 'project/js/main.js' %}" ></script>
        {{ form.media }}
    </head>
    <body id="{{ project_id }}">
        <div id="toolbar">
            {% cms_toolbar %}
        </div>

        <div id="menu">
	    {% block menu %}{% endblock menu %}
        </div>

        <div id="content" class="narrow">

	    <div class="page_content cell">
	        {% block content %}{% endblock content %}
	    </div>


            </div>

	    <footer class="responsive-blog-footer">
	    	    <div class="row">
	    		<div class="medium-8 columns small-order-2 medium-order-1 about-container">
	    		    <div class="row">
	    			<div class="hide-for-small-only medium-4 columns about-section">
	    			</div>
	    			<div class="medium-8 columns about-section">
	    			    {% placeholder "footer" %}
	    			</div>
	    		    </div>
	    		</div>
	    		<div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
	    		    {% placeholder "calltoaction" %}
	    		    <a class="button expanded subscribe-button" href="/footermenu/kontakt/kontaktformular/">Kontaktformular</a>

	    		</div>
	    	    </div>
	    	    <div class="grid-x">
	    		<div class="cell small-12 medium-12">
	    		    {% show_menu 0 100 100 100 "footer_menu.html" "" "footer" %}
	    		</div>
	    	    </div>
	    </footer>


        <script src="{% static 'project/node_modules/foundation-sites/dist/js/foundation.min.js' %}"></script>
        {% render_block "js" %}
        <script>
            $(document).foundation(
            );
        </script>
    </body>
</html>
