{% load cms_tags menu_tags sekizai_tags %}
<footer class="responsive-blog-footer">
    <div class="row">
        <div class="medium-8 columns small-order-2 medium-order-1 about-container">
            <div class="row">
                <div class="hide-for-small-only medium-4 columns about-section">
                </div>
                <div class="medium-8 columns about-section">
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
            <h4 class="mailing-list">Kontakt aufnehmen</h4>
            <a class="button expanded subscribe-button" href="javascript:linkTo_UnCryptMailto('nbjmup+ibsjqsjzbAibsj.eftjho/ef');">Kontakt</a>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-12 medium-12">
            {% show_menu 0 100 100 100 "footer_menu.html" "" "footer" %}
        </div>
    </div>
</footer>
