{% load menu_tags grid_tags static %}

{%if position == 'inside_head' %}
<div class="inside-head">
	<div class="top-bar" id="main-menu">
	    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
		    {{ menu_prepend }}
		    {% show_menu 0 100 100 100 "menu.html" "" "main" %}
		    {{ menu_append }}
	    </ul>
	    <div id="claim">{% settings_value "CLAIM" %}</div>
	    <div id="logo"></div>
	    <div class="service-menu">
		<ul class="menu simple align-center" id="languagechooser">
		    {% language_chooser %}
		</ul>
		{% show_menu 0 100 100 100 "footer_menu.html" "" "service" %}
	    </div>
	</div>
</div>
{%endif%}


{%if position == 'below_head' %}
<div class="below-head">
  <div class="header_bg">
  </div>
   <div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
      </div>
    </div>
    
    <div class="xtop-bar" id="mainNavigation">
      <div class="top-bar-left">
	<ul class="menu drilldown" data-parent-link="true" data-drilldown="" >
	    {{ menu_prepend }}
	    {% show_menu 0 100 100 100 "menu.html" "" "main" %}
	    {{ menu_append }}
        </ul>
      </div>
    </div>
    <div id="claim">{% settings_value "CLAIM" %}</div>
    <div id="logo"></div>
    <div class="service-menu">
	<ul class="menu simple align-center" id="languagechooser">
	    {% language_chooser %}
	</ul>
	{% show_menu 0 100 100 100 "service_menu.html" "" "service" %}
    </div>

</div>
{%endif%}

