{% load i18n menu_tags cache %}
    {% for child in children %}
<!-- no child pages  -->
        {% if child.is_leaf_node %}
            <li><a href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a></li>
        {% endif %}
<!-- /no child pages  -->
<!-- has child pages  -->
        {% if not child.is_leaf_node %}
            <li>
                <a href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a>
                <ul class="menu vertical nested {% if child.selected %}is-active{% endif %}">
                    {% if child.get_descendants %}
                        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}
<!-- /has child pages  -->
    {% endfor %} 
<!-- /end for child -->
