{% load cms_tags %}
{% load thumbnail %}
<!-- slider code -->
<div class="orbit testimonial-slider-container" role="region" aria-label="testimonial-slider" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;" data-timer-delay="10000" data-orbit >
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    {% for testimonial in testimonials.all %}
        <li class="is-active orbit-slide">
          <div class="testimonial-slide row">
            <div class="small-12 large-9 column">
              <div class="row align-middle testimonial-slide-content">
                <div class="small-12 medium-4 column hide-for-small-only profile-pic">
                    <img src="{% thumbnail testimonial.image.picture 400x400 %}" alt="">
                </div>
                <div class="small-12 medium-8 column testimonial-slide-text">
                  <p class="testimonial-slide-quotation">{{ testimonial.bodytext }}</p>
                  <div class="testimonial-slide-author-container">
                    <div class="small-profile-pic show-for-small-only">
                      <img src="https://placeimg.com/50/50/nature">
                    </div>
                    <p class="testimonial-slide-author-info">{{ testimonial.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
    {% endfor %}
  </ul>
</div>
