<div class="plugin-video">
    <div class="basic-cardx">
        <div class="basic-card-image">
            <div class="responsive-embed widescreen">
                <iframe width="420" height="315" src="{{ instance.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="basic-card-content content callout secondary">
            <h2>{{ instance.title }}</h2>
            <p>{{ instance.description }}</p>
        </div>
    </div>
</div>
