<div class="checkmarklist-container">
    <div class="checkmarklist">
        {% for node in nodes.all %}
            <div class="grid-x grid-margin-x grid-padding-x grid-margin-y">
                <div class="shrink cell checkmark-icon">
                    <i class="fas fa-check large"></i>
                </div>
                <div class="auto cell checkmark-content">
                    <div>{{ node.bodytext|linebreaks }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
