{% load cms_tags %}
<div class="narrow content-element grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y {% if grid.style %}{{ grid.style }} {% endif %}{% if grid.custom_classes %}{{ grid.custom_classes }} {% endif %}clearfix">
    <div class="small-12 medium-6 cell">
        {% for plugin in column.child_plugin_instances_0 %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>
    <div class="small-12 medium-6 cell">
        {% for plugin in column.child_plugin_instances_1 %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>
</div>
