{% if is_valid %}
    Vielen Dank für Ihre Nachricht. Wir werden uns umgehend mit Ihnen in Verbindung setzen.
{% else %}
    <h1>Kontakt</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Senden</button>
    </form>
{% endif %}
