<p>Vorname: {{ entry.first_name }}</p>
<p>Nachname: {{ entry.last_name }}</p>
<p>Unternehmen / Organisation: {{ entry.company }}</p>
<p>Telefon: {{ entry.phone }}</p>
<p>E-Mail: {{ entry.email }}</p>
<p>Nachricht: {{ entry.message|linebreaks }}</p>
