{% load cms_tags %}
{% load thumbnail %}
<div class="grid-y cmscontent">
    {% for row in rows %}
        <div class="cell">
            {% for image in row %}<div class="fixed-height-item">
                    <img class="fixed-height-image" src="{{ image.1 }}" alt="{{ image.0.caption_text }}" data-toggle="gallery_modal_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" >
                    <figcaption class="orbit-caption">{{ image.0.caption_text }}</figcaption>
                </div><div class="full reveal" id="gallery_modal_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" data-reveal>
                  <p>{{ image.0.caption_text }}</p>
                  <img src="{% thumbnail image.0.picture 2048x1024 %}" alt="{{ image.0.caption_text }}">
                  <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>{% endfor %}
        </div>
    {% endfor %}
</div>
