{% load cms_tags %}
<div class="grid-x full-width-box negative-margin">
    <div class="cell large-12 medium-12 small-12">
        {% for plugin in column.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>
</div>
