{% load thumbnail %}
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
        {% for image in images %}
            <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{% thumbnail image.picture 1024x500 %}" alt="{{ image.caption_text }}" data-toggle="gallery_modal_{{ forloop.counter0 }}">
                    <figcaption class="orbit-caption">{{ image.caption_text }}</figcaption>
                </figure>
            </li>

<!--            <div class="full reveal" id="gallery_modal_{{ forloop.counter0 }}" data-reveal>
              <p>{{ image.caption_text }}</p>
              <img src="{% thumbnail image.picture 2048x1024 %}" alt="{{ image.caption_text }}">
              <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
-->
        {% endfor %}
    </ul>
  </div>
  <nav class="orbit-bullets">
    {% for image in images %}
    <button {% if forloop.first %}class="is-active"{% endif %} data-slide="{{ forloop.counter0 }}"><span class="show-for-sr">{{ image.caption_text }}</span></button>
    {% endfor %}
  </nav>
</div>
