{% load cms_tags %}
<div class="{%if grid.content_element %}content-element {% endif %}" style="">
    {% if grid.image %}
    <div class="grid_image" style="z-index: 200;position: relative;overflow: hidden;">  
        <img src="{{ grid.image.picture.url }}" />
        <div class="small-12 medium-12 large-12 cell" style="position: absolute; top:0; left: 0;z-index: 100;" >
            <div class="{{ grid.grid_type }} {%if grid.margin_x %}grid-margin-x {% endif %}{%if grid.margin_y %}grid-margin-y {% endif %}{%if grid.padding_x %}grid-padding-x {% endif %}{%if grid.padding_y %}grid-padding-y {% endif %}{%if grid.frame %}grid-frame {% endif %}{%if grid.small_frame %}small-grid-frame {% endif %}{%if grid.medium_frame %}medium-grid-frame {% endif %}{%if grid.large_frame %}large-grid-frame {% endif %}{%if grid.padding_gutters %}padding-gutters {% endif %}{%if grid.grid_container %}grid-container {% endif %}{%if grid.fluid %}fluid {% endif %}{%if grid.light %}light {% endif %} {% if not grid.inner %}container-{{ GRID_SIZE }} {% endif %}{% if grid.style %}{{ grid.style }} {% endif %}{% if grid.custom_classes %}{{ grid.custom_classes }} {% endif %}clearfix" >
            {% for plugin in grid.child_plugin_instances %}
                {% with forloop as parentloop %}{% render_plugin plugin %}{% endwith %}
            {% endfor %}
            </div>    
        </div>
    </div>
    {% else %}
    <div class="small-12 medium-12 large-12 cell" style="overflow: hidden;">
        <div class="{{ grid.grid_type }} {%if grid.margin_x %}grid-margin-x {% endif %}{%if grid.margin_y %}grid-margin-y {% endif %}{%if grid.padding_x %}grid-padding-x {% endif %}{%if grid.padding_y %}grid-padding-y {% endif %}{%if grid.frame %}grid-frame {% endif %}{%if grid.small_frame %}small-grid-frame {% endif %}{%if grid.medium_frame %}medium-grid-frame {% endif %}{%if grid.large_frame %}large-grid-frame {% endif %}{%if grid.padding_gutters %}padding-gutters {% endif %}{%if grid.grid_container %}grid-container {% endif %}{%if grid.fluid %}fluid {% endif %}{%if grid.light %}light {% endif %} {% if not grid.inner %}container-{{ GRID_SIZE }} {% endif %}{% if grid.style %}{{ grid.style }} {% endif %}{% if grid.custom_classes %}{{ grid.custom_classes }} {% endif %}clearfix" >
            {% for plugin in grid.child_plugin_instances %}
                {% with forloop as parentloop %}{% render_plugin plugin %}{% endwith %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

