{% load leaflet_tags %}
{% load sekizai_tags %}

{% addtoblock "js" %}{% leaflet_js %}{% endaddtoblock %}
{% addtoblock "css" %}{% leaflet_css %}{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        L.marker({{ map_location }})
            .addTo(detail.map)
            .bindPopup('{{ map_address|safe }}')
            .openPopup();
    }, false);
</script>
{% endaddtoblock %}


<style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

</style>

<div class="grid-x">
    <div class="cell small-12 align-center">
        <div class="map_plugin">
            {% leaflet_map "yourmap" %}
        </div>
    </div>
</div>
