{% load cms_tags %}
<div class="overlay row expanded collapse">
  <div class="column">
    <div class="large-article-header">
      <div class="large-article-header-image">
          <img src="{{ column.image.picture.url }}" alt="" />
      </div>
      <div class="large-article-header-content">
        <div class="center-container">
          <div class="article-title">
                {% for plugin in column.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


