<div class="timeline-container">
    <div class="grid-y timeline">
        {% for node in nodes.all %}
        <div class="cell timeline-item">
            <div class="timeline-icon">
                <i class="fi-{% cycle 'microphone' 'music' %} large"></i>
            </div>
            <div class="timeline-content">
                <p class="timeline-content-date">{{ node.title }}</p>
                <p>{{ node.bodytext }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
