.container-12.primary {
  background-color: $primary;
}

.container-12.secondary {
  background-color: $secondary;
}

.container-12.tertiary {
  background-color: $tertiary;
}

.container-12.primary * {
  color: #fff;
}

figcaption {
  background: $darkgrey;
  padding: 2em;
  color: #fff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: brandon_grotesqueregular;
  color: $fontcolor;
  padding-top: 0.5rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

.light {
  a, h1, h2, h3, h4, h5, p, span, li {
    color: #fff;
  }
}

h1.primary , h2.primary, h3.primary, p.primary, strong.primary{
  display: inline-block;
  border-bottom: 6px solid $primary;
}

h1.secondary, h2.secondary, h3.secondary, p.secondary, strong.secondary {
  display: inline-block;
  border-bottom: 6px solid $secondary;
}

h1.tertiary, h2.tertiary, h3.teriary, p.tertiary, strong.tertiary {
  display: inline-block;
  border-bottom: 6px solid $tertiary;
}

i.primary {
  color: $primary;
}

p, a, span, b, em, strong {
  font-family: brandon_grotesqueregular;

}

a {
  color: $background;
  text-decoration: underline;
}

#menu {
  /* needed for djangocms toolbar !!! */
  position: relative;
}


.inside-head {
  .drilldown a {
    background: none;
  }
  body .is-drilldown {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-bar {
    position: relative;
    background-image: url('/static/project/img/head.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    @media screen and (max-width: 955px) {
      height: 100px;
    }
  
    & > ul {
      width: 50%;
    }
    ul {
      background: none;
      border: 0;
      li {
        background: rgba(255, 255, 255, 0.9);
        a {
          color: $background;
          padding-right: 1em;
        }
        ul {
         width: 100%;
          >li {
            width: 130%;
          }
        } 
      }
    }
  }
  div#main-menu ul {
    z-index: 200;
  }
}


.below-head {
    min-height: 12.4rem;
    @media screen and (max-width: 955px) {
      min-height: 12.4rem;
    }
  .top-bar {
    padding: 0;
  }
  @include breakpoint(small down) {
    ul {
      flex-wrap: nowrap;
      flex-direction: column;    
    }
  }
  .drilldown {
    /* max-width: 480px; */
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
    .is-drilldown-submenu-parent > a::after {
      right: 0.3rem;
    }
  }

  .header_bg {
    position: absolute;
    top: 2.4rem;
    left: 0;
    width: 100%;
    background-image: url('/static/project/img/head.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    @media screen and (max-width: 955px) {
      height: 6rem;
    }
  }
  #mainNavigation {
    position: relative;
    z-index: 1000;
    top:0;
    left:0;
    width: 100%;
    height: 12.4rem;
    @media screen and (max-width: 955px) {
      height: 12.4rem;
    }
  }
  .service-menu {
    position: absolute;
    top: 0.5em;
    right: 1em;
    z-index: 2000;
    a {
      color: #fff;
    }
  }

}

div#logo {
  position: absolute;
  right: 1em;
  bottom: 1em;
  background-repeat: no-repeat;
  width: 334px;
  height: 125px;
  z-index: 100;
} 

body#first div#logo {
  background-image: url('/static/project/img/first_logo.png');
}

body#second div#logo {
  background-image: url('/static/project/img/second_logo.png');
}

.large {
  font-size: 2em;
}

.extralarge {
  font-size: 6em;
  line-height: 1em;
  color: $background;
}

.narrow {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

// orbit
.orbit img {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

// layout styles
div.page_content {
  padding: 2em 0 2em;
}

.content-element {
  margin-bottom: 2em;
}

.negative-margin {
    margin-top: -2em;
}

div.audio-player {
  margin-bottom: 2em;
}

// cirlce images
.circle img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.circle-half img {
  width: 50%;
  margin: 0 25% 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}


// offcanvas
$nav-text-color: $white;
$nav-height: 75px;
$nav-background: #2c3840;
$offcanvas-padding: 20px;

.nav-bar-left {
    padding-left: 1em;
}

.nav-bar-right {
    padding-right: 1em;
}

.nav-bar {
  display: flex;
  height: 190px !important;
  background-color: $background;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  @media screen and (max-width: 955px) {
      background-color: transparent;
      border-bottom: none;
  }

  .nav-bar-logo {
    padding: 1.8rem;
  }

  li {
    background: none;
  }

  p {
    color: $nav-text-color;
  }

  a {
    color: $nav-text-color;
    transition: color 0.2s ease-in;

    &:hover {
      color: lighten($nav-background, 50%);
    }
  }


  @media screen and (max-width: 39.9375em) {
    height: $nav-height/1.4;
  }

  .offcanvas-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    color: $nav-text-color;
    text-transform: uppercase;
    background-color: lighten($nav-background, 20%);
    transition: background-color 0.2s ease-in;
    cursor: pointer;

    .offcanvas-trigger-text {
      margin-left: 0.25rem;
      margin-top: 0.25rem;
    }

    &:hover {
      background-color: lighten($nav-background, 30%);
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.9rem;
    }
  }
}

.multilevel-offcanvas {
  background: darken($nav-background, 5%);
  padding: 100px 20px 20px 20px;
  color: $white;

  > .menu {
    margin-bottom: 1rem;
  }

  .menu a {
    color: rgba($nav-text-color,.6);
    padding-top: 1em;
    padding-bottom: 1em;
    transition: color 0.2s ease-in;
    outline: 0;

    &:hover {
      color: $nav-text-color;
    }
  }

  .fa {
    color: $nav-text-color;
  }

  .is-accordion-submenu-parent > a::after {
    border-color: rgba($nav-text-color,.6) transparent transparent;
  }

  .submenu-toggle {
      height: 3em;
  }

}

.body-info {
  text-align: center;
  color: $nav-background;

  .button {
    margin: 1rem 0;
    padding: 0.85em 2em;
  }
}

.is-open + .off-canvas-content .hamburger {
  .line:nth-child(1),
  .line:nth-child(3) {
    width: 12px;
  }

  .line:nth-child(1) {
    transform: translateX(-5px) rotate(-45deg);
  }

  .line:nth-child(3) {
    transform: translateX(-5px) rotate(45deg);
  }
}

.hamburger .line {
  width: 20px;
  height: 2px;
  background-color: $nav-text-color;
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }
}

// full-width testimonial
$full-width-testimonial-quote-color: $warning-color;
$full-width-testimonial-vertical-padding: 2rem;

.full-width-testimonial {
/*  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.1)
  ),*/
    background-repeat: no-repeat;
    background-color: $bodybackground;
    background-position: right top;

}

.full-width-testimonial-icon {
  .quote-path {
    fill:none;
    stroke: $full-width-testimonial-quote-color;
    stroke-width:2.5192;
    stroke-miterlimit:10;
  }
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}
.full-width-testimonial-section {
  padding-top: $full-width-testimonial-vertical-padding;

  .full-width-testimonial-text {
    font-weight: 300;
    color: $background;
    padding-left: 30px;
    padding-right: 30px;
    // Adjust margin-top for line spacing
    margin-top: -5px;

    @include breakpoint(small) {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 1.5em;
    }

    @include breakpoint(medium) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include breakpoint(large) {
      padding-left: 180px;
      padding-right: 180px;
      font-size: 1.8em;
    }

    @include breakpoint(xlarge) {
      padding-left: 300px;
      padding-right: 300px;
    }
  }

  .full-width-testimonial-source {
    font-size: 1.2em;
    font-weight: 600;
    color: $background;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 0;
    margin-bottom: 0.2em;

    @include breakpoint(small) {
      font-size: 1.0em;
    }
  }

  .full-width-testimonial-source-context {
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    color: $background;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @include breakpoint(small) {
      font-size: 0.8em;
    }
  }

  .slick-slider {
    margin-bottom: 0px;
  }
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: $full-width-testimonial-vertical-padding;
}

.full-width-testimonial-content {
  width: 100%;
}

// basic card
.basic-card {
  @include card-container;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 40%;
}

.basic-card-image {
  grid-row-end: 4;
  grid-row-start: 1;

  img {
    width: 100%;
  }
}

.basic-card-content {
  border: 0;
  grid-row-start: 3 / 4;
  margin: 0;
}

// responsive blog footer
$highlight: $primary-color;

footer {
  position:relative;
}

.responsive-blog-footer {
  margin-top: -2em;
  border-top: 1px solid #ccc;
  margin-bottom: -2em;
/*  background: darken($dark-gray, 25%);*/
  /*background-color: #f5f4e6;*/
  background-color: $footer-color;
  padding: 3rem 3rem;
  color: white;


  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  a, p {
    color: white;
  }

  .mailing-list {
    margin-bottom: 1.5rem;
  }
  .mailing-container {
    margin-bottom: 2rem;
  }

  .about-section, .tag-section {
    margin-bottom: 2rem;

  }

  .subscribe-button {
    background-color: $primary;
    &:hover {
     background-color: darken($primary, 5%);
     transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}

// general
.responsive-embed {
  margin-bottom: 0;
}

// plugins

// video plugin
.plugin-video {
    margin-bottom: 2em;
}

// testimonial plugin
.testimonial-slider-container {
  background: white;
  padding: 1rem 1rem;

  .orbit-previous,
  .orbit-next {
    color: $black;

    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }

  .orbit-previous {
    left: -1rem;
  }

  .orbit-next {
    right: -1rem;
  }

  .testimonial-slide {
    display: flex;
    justify-content: center;
  }

  .testimonial-slide-content {
    padding: 1rem 1.5rem;

    @media screen and (min-width: 40em) {
      padding: 1rem 4rem;
    }
  }

  .profile-pic {
    max-width: 225px;
  }

  .testimonial-slide-text {
    padding-left: 3rem;
  }

  .testimonial-slide-quotation {
    font-size: 1.2rem;
    position: relative;
    text-align: left;

    &::before {
      content: "“";
      font-size: 6rem;
      color: lighten($black, 80%);
      position: absolute;
      top: -3rem;
      left: -3rem;
    }
  }

  .testimonial-slide-author-container {
    display: flex;

    @include breakpoint(small only) {
      .testimonial-slide-author-info {
        margin-left: 1rem;
      }
    }
  }
}

// timeline

$timeline-color: $white;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: $background;
$timeline-item-font-color: $background;
$timeline-item-card: false;
$timeline-item-card-radius: $global-radius;

%clearfix {
  &::after,
  &::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}


.checkmarklist-container * {
  color: #fff;
}

.checkmarklist p {
  margin-bottom: 0;
  font-size: 18px;
} 

.checkmarklist>div {
  margin-bottom: 1em;
} 

.checkmark-icon {
  position: relative;
  text-align: center;
  vertical-align: middle;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


// Timeline
.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: $timeline-transition;
  width: 100%;

  &::before {
    background: $timeline-color;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  a {
    color: $timeline-item-font-color;
    font-weight: bold;
    transition: $timeline-transition;

    &:hover {
      box-shadow: 0 1px 0px 0px $timeline-item-font-color;
      transition: $timeline-transition;
    }
  }

  .timeline-item {
    margin-bottom: 1em;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $background;
      color: white;
      border-radius: 50%;
      height: 3em;
      left: 50%;
      margin-left: -23px;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 3em;
      text-align: center;
      padding-top: 0em;

      img,
      svg {
        left: 14px;
        position: relative;
        top: 11px;
      }

      svg {
        top: 14px;
      }
    }

    .timeline-content {
      padding: 20px;
      text-align: right;
      transition: $timeline-transition;
      width: 45%;

      @if $timeline-item-card == true {
        background: $timeline-item-card-bg;
        border-radius: $timeline-item-card-radius;

        p {
          color: white;
        }
      } @else {
        background: transparent;

        p {
          color: $timeline-item-font-color;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 0;
      }

      .timeline-content-date {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
      }

      .timeline-content-month {
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: 400;
      }

      &.right {
        float: right;
        text-align: left;
      }
    }
  }
}

@include breakpoint(small only) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}

.cms-toolbar-expanded #content{
    top:40px;
}

.cms-toolbar-expanded .reveal{
    top:40px !important;
}

/* full width box */
.full-width-box {
    background-color: $background;
    border-bottom: 1px solid #fff;
}

img.align-right {
  float: right;
}

#content {
  padding: 0 1em 0;
}

.cmscontent {
  clear: both;
  display:block;
  position: relative;
/*  padding-top: 2em;*/
}

/* multi level off canvas */
.multilevel-offcanvas {
    background: #222b31;
   /*background: url('/static/project/img/hintergrund_orange2.png')*/
}

body {
    /*background-color: #fff5da;*/
    /*background-color: #f5f4e6;*/
    /*background-color: #feddb3;*/
    background-color: $bodybackground;
/*    background: url('/static/project/img/body_bg_01.jpg');*/
    background-size: cover;

}

.menu-icon {
    margin-right: 2em;
}

.fixed-height-item {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 1300px) {
  .fixed-height-item {
      margin: 0 auto;
      display: block;
      margin-bottom: 0.5em;
      width: 100%;
      img {
          margin: 0 auto;
          display: block;

      }
  }
}

/* overlay */

.overlay img {
  margin-bottom: 2em;
}
$large-article-header-color: #fff;
$large-article-header-height: rem-calc(500);

.large-article-header {
  /*height: $large-article-header-height;*/
  position: relative;

  @include breakpoint(small only) {
    height: ($large-article-header-height / 1.5);
  }
}

.large-article-header-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: rem-calc(50);
  left: 0;
  right: 0;

  @include breakpoint(small only) {
    bottom: rem-calc(20);
  }

  .center-container {
    width: 50%;
    margin: 0 auto;

    @include breakpoint(small only) {
      width: 100%;
      padding: 0 rem-calc(20);
    }
  }

  .article-title {
      padding: 1em 1em 0.5em;
      line-height: rem-calc(50);
      color: $large-article-header-color;
      background: white;
      opacity: 0.5;

      @include breakpoint(small only) {
        line-height: rem-calc(30);
      }
      .cmscontent {
        color: #000;
        opacity: 1;
      }
  }
}

/* map plugin */
div#yourmap {
  margin: 0 auto;
  margin-bottom: 2em;
  display: block;
}

.orbit-caption {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 12px;
}

.basic-cardx .callout {
  padding: 0.25em 1em 0.25em;
}
.basic-cardx .callout h2 {
  padding-top: 0;
}

/* audio player */

div.audio-player audio {
  height: 28px;
  width: 40%;
}


i.far, i.fas {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

#claim {
  font-family: brandon_grotesqueregular;
  position: absolute;
  left: 300px;
  top: 42px;
  @include breakpoint(small only) {
    font-size: 16px;
    display: none;
  }
  @include breakpoint(medium only) {
    font-size: 32px;
    left: 100px;
  }
  @include breakpoint(large) {
    font-size: 42px;
  }
}
